html,body{
	margin: 0;
}
.atTheTop {
	background-color: black;
	height: 128px;
	width: 100%;
}
.onTheLeft {
	background-color: gray;
	height: 100%;
	width: 15%;
	float: left;
	display: inline;
}
.onTheRight {
	background-color: gray;
	height: 100%;
	width: 15%;
	float: right;
	display: inline;
}

.atTheBottom {
    background-color: black;
    height: 64px;
    width: 70%;
    position: fixed;
    margin-left: 15%;
    margin-right: 15%;
    bottom: 0;
}
